<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hking.notunes-next</string>
    <key>ProgramArguments</key>
    <array>
        <string>__HOME__/Library/Scripts/noTunes-next/block_music.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/notunes-next.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/notunes-next.err</string>
</dict>
</plist>
